{% extends "base.html" %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{%block head %}
  {% load staticfiles %}

    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/validator.js' %}"></script>
    <link rel="stylesheet" href="{% static 'kobo.compiled/kobo.css' %}" />
    {% with 'css/i18n_'|add:LANGUAGE_CODE|add:'.css' as i18n_css %}
      <link rel="stylesheet" href="{% static i18n_css %}" media="all">
    {% endwith %}
    {% if LANGUAGE_BIDI %}
      <link rel="stylesheet" href="{% static 'css/rtl.css' %}" media="all">
    {% endif %}
    
{% endblock %}

{% block content %}
{% endblock %}
